<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="thumbicon text-center">
                    <fa-icon class="fa-2x" [icon]="getfeaticon.icon"></fa-icon>
                </div>
            </div>
            <div class="col-9">
                <h2 class="pri-heading">
                    {{getfeaticon.title}}
                </h2>
                <p class="para">
                    {{getfeaticon.text}}
                </p>
            </div>
        </div>
    </div>
</div>
