<section class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 text-center">
                <h1 class="pri-heading">Tinyone features</h1>
                <h2 class="sec-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h2>
            </div>
        </div>
        <div class="row mb-70">
            <div class="col-10 offset-1 text-center">
                <form class="form-inline mb-70">
                    <label class="sr-only" for="email">Name</label>
                    <input type="text" class="form-control mr-2" id="email" placeholder="Enter your email...">
                    <button type="submit" class="btn btn-footer">Submit</button>
                </form>
                <app-icons [geticon]="icons"></app-icons>
            </div>
        </div>
        <div class="row contact">
            <div class="col-md-3">
                <address>
                    <p>HALOVIETNAM LTD</p>
                    <p>66, Dang Van ngu, Dong Da</p>
                    <p>Hanoi, Vietnam</p>
                    <p>
                        <a href="mailto:contact@halovietnam.com">
                            contact@halovietnam.com
                        </a>
                    </p>
                    <p>
                        <a href="tel:+844 35149182">
                            +844 35149182
                        </a>
                    </p>
                </address>
            </div>
            <div class="col-md-1 offset-md-1">
                <app-icons [iconclass]="footericon"
                [geticon2]="icons1"></app-icons>
            </div>
            <div class="col-md-1 offset-md-1">
                <app-icons [iconclass]="footericon"
                [geticon2]="icons1"></app-icons>
            </div>
            <div class="col-md-1 offset-md-1">
                <app-icons [iconclass]="footericon"
                [geticon2]="icons1"></app-icons>
            </div>
            <div class="col-md-1 offset-md-1">
                <app-icons [iconclass]="footericon"
                [geticon2]="icons1"></app-icons>
            </div>
        </div>
    </div>
</section>
